* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

.game {
	display: grid;
	grid-template-columns: repeat(3, 200px);
	grid-auto-rows: 200px;
	gap: 10px;
	margin: auto;
	position: relative;
	width: 620px;
	margin-top: 100px;
}

.cell {
	background-color: #3535ec;
}

.symbol {
	color: white;
	font-size: 200px;
	text-align: center;
	line-height: 200px;
}

.banner {
	position: absolute;
	background-color: red;
	width: 900px;
	margin-left: -140px;
	height: 250px;
	opacity: 82%;
	margin-top: 185px;
}

.banner h1 {
	color: white;
	text-align: center;
	line-height: 250px;
	font-size: 60px;
}